#login_modal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
}

#image_marquee{
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	bottom: 0;
	padding-top: var(--padding_v);
	left: var(--margin);
	right: var(--margin);
	border-top: var(--border);
}