@font-face{
  font-family: "Toren";
  font-style: normal;
  src: url("../fonts/Toren-Mono.otf") format("opentype");
}

@font-face{
  font-family: "Toren";
  font-style: italic;
  src: url("../fonts/Toren-Rotalic.otf") format("opentype");
}

@font-face{
  font-family: "FT88";
  src: url("../fonts/FT88-School.otf") format("opentype");
}

:root{
	--bg: #000;
	--font: 'Toren';
	--text: #fff;
	--border: 1px solid var(--text);
	--padding_v: 0.5rem;
	--padding_h: 1rem;
	--margin: 3rem;
	--margin_2x: calc(var(--margin) * 2);
	--lfs: 1.5rem;
	--sfs: 0.7rem;
	--spacer_height: 1rem;

	--transparent: rgba(0,0,0,0.6);
}

html,
body{
	font-size: 16px;
	margin: 0;
	font-family: var(--font), monospace;
	background: var(--bg);
	color: var(--text);
	font-smooth: never;
	-webkit-font-smoothing: none;
}

h1,
h2,
h3,
h4{
	font-size: 1rem;
	margin: 0;
	font-weight: normal;
}

input,
button{
	font-size: 1rem;
	padding: 0;
	margin: 0;
	font-family: var(--font), monospace;
	background: transparent;
	color: var(--text);
	appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
}

input{
	border-bottom: var(--border);
}

button{
	text-transform: uppercase;
	cursor: pointer;
}

button.selected{

}

.FT88{
	font-family: 'FT88';
	font-size: var(--lfs);
}

header{
	position: fixed;
	top: 0;
	padding-top: var(--padding_v);
	left: var(--margin);
	width: calc(100% - var(--margin_2x));
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.spacer{
	position: relative;
	flex-grow: 2;
	height: var(--spacer_height);
	border-left: var(--border);
	border-right: var(--border);
	margin-left: var(--padding_h);
	margin-right: var(--padding_h);
}

.spacer:after{
	content: '';
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 100%;
	border-top: var(--border);
}